<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bean.name %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @bean.origin %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bean.price %>
</p>

<p>
  <strong>In stock:</strong>
  <%= @bean.in_stock %>
</p>

<%= link_to 'Edit', edit_bean_path(@bean) %> |
<%= link_to 'Back', beans_path %>
